<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="container form-group">
  <div>
    <%= form.label :name, style: "display: block", class:"form-label" %>
    <%= form.text_field :name, class:"form-control" %>
  </div>

  <div>
    <%= form.label :price, style: "display: block", class:"form-label" %>
    <%= form.number_field :price, class:"form-control" %>
  </div>

  <div>
    <%= form.label :size, style: "display: block", class:"form-label" %>
    <%= form.number_field :size, class:"form-control" %>
  </div>



  <div>
    <%= form.label :category_ids, style: "display: block", class: "form-group" %>
      <div class="row">
        <%= form.collection_check_boxes(:category_ids, @categories, :id, :name) do |b|%>
            <div class="col-md-2">
              <span class="w100 form-control my-2"><%= b.label { b.check_box + " " + b.text } %></span>
            </div>
        <% end %>
      </div>
  </div>


<%# SIN BOOTSTRAP
  <div>
    <%= form.label :category_ids, style: "display: block" <>>
    <%= form.collection_check_boxes(:category_ids, @categories, :id, :name) do |b| <>>
        <div>
          <span> <%= b.label {b.check_box + "  " + b.text} <>> </span>
        </div> 
    <% end <>>
  </div> %>
<br><hr><br>
<% if action_name == 'new' %>
  <%= form.fields_for :categories do |ff| %>
    <div class= "form-group">
      <%= ff.label :name, "Category Name", class:"form-label" %>
      <%= ff.text_field :name, class: "form-control" %>
    </div>
  <% end %>
<% end %>
<br>
    
<div>
  <%= form.submit %>
  <% end %>
</div>