<p style="color: green"><%= notice %></p>
<div>
  <%= render 'products/show_categories' %>
</div>
<div>
  <%= render 'reactions/options' %>
</div>
<div>
  <%= render 'reactions/counters' %>
</div>

<div class="container">
  <%= link_to "Edit this product", edit_product_path(@product) %> |
  <%= link_to "Back to products", products_path %>
</div>
  <br>
<div class="container">
  <%= button_to "Destroy this product", @product, method: :delete %>
</div>
